@font-face {
    font-family: "PC9900";
    src: url("resources/pc-9900-v2.otf") format("opentype");
}

body {
    background-color: #000018;
    background-image:
            radial-gradient(#222 25%, transparent 25%),
            radial-gradient(#222 25%, transparent 25%);
    background-position: 0 0, 2px 2px;
    background-size: 4px 4px;
    color: #c8ffd8;
    font-family: "PC9900", monospace;
}

.netscape-btn {
    background: #bcbcbc;
    color: #000040;
    border: 2px solid;
    border-color: #ffffff #808080 #808080 #ffffff;
    padding: 4px 10px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.netscape-btn:active {
    border-color: #808080 #ffffff #ffffff #808080;
}

.marquee {
    width: max-content;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.pc98-paragraph {
    background-color: #000000;
    color: #00ff66;

    background-image:
            linear-gradient(
                    0deg,
                    rgba(255, 255, 255, 0.04) 50%,
                    rgba(0, 0, 0, 0.04) 50%
            );
    background-size: 2px 2px;

    border: 2px solid #00aa44;
    box-shadow:
            inset 1px 1px 0 #44ff88,
            inset -1px -1px 0 #004422;

    padding: 10px 12px;
    line-height: 1.4;

    font-family: "PC9900", "MS Gothic", "Courier New", monospace;
    text-shadow:
            0 0 2px rgba(0, 255, 102, 0.6);

    image-rendering: pixelated;
}

.proj-box {
    border: 4px double #44cc88;
    padding: 10px;
    margin: 20px;
    background: #000020;
}
.proj-header {
    background: #000070;
    color: #f0f8ff;
    padding: 2px;
}